<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CCentral - Service Management</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript" charset="utf-8"></script>
		<script src="ui.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body ng-app="cCentral" ng-controller="MainCtrl">
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<a class="navbar-brand" href="#">CCentral - Service Management</a>
			</div>
		</nav>
		<div class="container-fluid" style="padding-right:30px">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
					<ul class="list-group well">
						<h4>Services</h4>
						<li ng-repeat="key in services" ng-click="selectService(key)" class="list-group-item">{{key}}</li>
					</ul>
				</div>
				<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
					<h1>{{selectedService}}</h1>
					<legend>Instances</legend>
					<table class="table">
						<thead>
							<tr>
								<th>Id</th>
								<th ng-repeat="(k, v) in instanceHeaders">{{v}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(key, value) in instances">
								<th scope="row">{{key}}</th>
								<th ng-repeat="(k, v) in instanceHeaders">{{representValue(k, value[k])}}</th>
							</tr>
						</tbody>
					</table>
					<legend>Info</legend>
					<table class="table well">
						<tbody>
							<tr ng-repeat="(key, value) in info">
								<th scope="row">{{key}}</th>
								<td>{{value}}</td>
							</tr>
						</tbody>
					</table>
					<div ng-show="serviceData != null">
						<form action="" method="POST" class="form" role="form">
							<legend>Configuration</legend>
							<div class="form-group" ng-repeat="(key, value) in serviceData">
								<label for="{{key}}">{{value.title}}</label>
								<p><i>{{value.description}}. Default: '{{value.default}}'</i></p>
								<div class="input-group">
									<input ng-model="value.value" ng-show="value.type == 'string'"
									type="text" class="form-control" id="{{key}}">
									<div class="btn btn-success input-group-addon success" ng-click="saveField(key)"><p ng-hide="value.value == value.value_orig">Save</p></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	</body>
</html>